<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-beaconsff" version="1.0.11"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Beaconsff</name>
	<engines>
		<engine name="cordova" version=">=5.0.0"/>
	</engines>

	<js-module name="Beaconsff" src="www/Beaconsff.js">
		<clobbers target="Beaconsff"/>
	</js-module>
	<platform name="android">
		<framework src="org.altbeacon:android-beacon-library:2+"/>

		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="Beaconsff">
				<param name="android-package" value="cordova.plugin.beaconsff"/>
			</feature>
		</config-file>

		<config-file target="res/values/strings.xml" parent="/*" mode="merge">
			<string name="advertisement_service_name">Advertisement Service</string>
    		<string name="monitoring_service_name">Monitor Service</string>
		</config-file> 

		<edit-config file="AndroidManifest.xml" target="/manifest" mode="merge">
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
			<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.WAKE_LOCK" />
			<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
		</edit-config>

		<edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
			<service android:name=".AdvertisementService" android:enabled="true" android:exported="false" android:icon="ic_launcher_beaconsff" android:label="@string/advertisement_service_name">
			</service>

			<service android:name=".MonitoringService" android:enabled="true" android:exported="false" android:icon="ic_launcher_beaconsff" android:label="@string/monitoring_service_name">
			</service>

			<!--<service android:name="org.altbeacon.beacon.service.BeaconService" tools:node="replace">
				<meta-data android:name="longScanForcingEnabled" android:value="true"/>
			</service>-->

			<receiver android:enabled="true" android:name=".StartReceiver">
				<intent-filter>
					<action android:name="android.intent.action.BOOT_COMPLETED"/>
				</intent-filter>
			</receiver>
		</edit-config>

		<source-file src="src/android/Beaconsff.java" target-dir="src/cordova/plugin/beaconsff"/>
		<source-file src="src/android/MonitoringService.java" target-dir="src/cordova/plugin/beaconsff"/>
	</platform>
</plugin>